* {
  padding: 0;
  margin: 0;
  font-family: "Pixelify Sans", cursive;
}

:root {
  --primary: #615985;
  --secondary: #68a3a2;
  --text: #232023;
  --pix-border: #41424c;
}

body {
  line-height: 1.5;
  /* background-color: var(--primary); */
  color: var(--text);
}

h1 {
  font-weight: bold;
  font-size: 5rem;
}

.container {
  padding: 10% 20% 0 20%;
}

.row {
  display: flex;
}
.col {
  width: 100%;
}

/* Button Styling */
button {
  margin: 2rem;
  padding: 0.8rem;
  border: solid 5px var(--pix-border);
  background-color: #e89a82;
  color: var(--pix-border);
}
/* End Button Styling */

/* Scenario Screen */
.scenario {
  padding: 0 5%;
  text-align: center;
}
/* End Scenario Screen */

/* Battle Screen */
.container.battle {
  background: url("../assets/bg-img/bg-1.png") no-repeat center center fixed;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  height: 100vh;
  background-size: cover;
}

.hp-bars .hp-bar {
  text-align: center;
  border: solid 5px var(--pix-border);
  background-color: var(--pix-border);
}

#player-hp {
  background-color: green;
}

#enemy-hp {
  animation-name: hp-down;
  animation-duration: 1s;
  animation-delay: 0.8s;
  background-color: green;
}

@keyframes hp-down {
  0% {
    background-color: green;
  }

  30% {
    background-color: yellow;
    width: 70%;
  }

  70% {
    background-color: red;
    width: 30%;
  }

  100% {
    background-color: var(--pix-border);
    width: 0;
  }
}

.char-name {
  color: white;
}

.enemy {
  text-align: right;
}

/* End Battle Screen */

/* Run Screen */
.sub-scenario {
  width: 60%;
  margin: auto;
  margin-top: 10%;
  text-align: center;
}

.running {
  color: white;
}

.step-count {
  margin-top: 15%;
  padding-left: 10%;
}
/* End Run Screen */

/* Character Animation */
/* #p-battleCanvas {
  position: absolute;
  top: 60%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

#e-battleCanvas {
  position: absolute;
  top: 60%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

#runCanvas {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
} */

.player-attack {
  position: absolute;
  top: 60%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 86px;
  height: 86px;

  background: url(../assets/characters/knight/Attack\ 1.png);
  animation: player-attack 0.5s steps(5);
  animation-delay: 0.5s;
}

@keyframes player-attack {
  from {
    background-position: 0;
  }

  to {
    background-position: 450px;
  }
}

.enemy-attack {
  position: absolute;
  top: 57%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 128px;
  height: 128px;
  background: url(../assets/characters/Ghost/Dead.png);
  animation: enemy-attack 0.7s steps(5);
  animation-delay: 0.8s;
}

@keyframes enemy-attack {
  0% {
    background-position: 0;
  }

  100% {
    background-position: -512px;
  }
}

.player-run {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 86px;
  height: 86px;
  background: url(../assets/characters/knight/Run.png);
  animation: player-run 0.7s steps(7) infinite;
}

@keyframes player-run {
  0% {
    background-position: 0;
  }

  100% {
    background-position: -487px;
  }
}
/* End Character Animation */
