* {
  padding: 0;
  margin: 0;
  font-family: "Pixelify Sans", cursive;
}

:root {
  --primary: #615985;
  --secondary: #68a3a2;
  --text: #232023;
  --pix-border: #41424c;
}

body {
  line-height: 1.5;
  /* background-color: var(--primary); */
  color: var(--text);
}

h1 {
  font-weight: bold;
  font-size: 5rem;
}

.container {
  padding: 10% 20% 0 20%;
}

.row {
  display: flex;
}
.col {
  width: 100%;
}

/* Button Styling */
button {
  margin: 2rem;
  padding: 0.8rem;
  border: solid 5px var(--pix-border);
  background-color: #e89a82;
  color: var(--pix-border);
}
/* End Button Styling */

/* Scenario Screen */
.scenario {
  padding: 0 5%;
  text-align: center;
}
/* End Scenario Screen */

/* Battle Screen */
.container.battle {
  background: url("../assets/bg-img/bg-1.png") no-repeat center center fixed;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  height: 100vh;
  background-size: cover;
}

.hp-bars .hp-bar {
  text-align: center;
  border: solid 5px var(--pix-border);
  background-color: red;
}

.char-name {
  color: white;
}

.enemy {
  text-align: right;
}

/* End Battle Screen */

/* Character Animation */
#p-battleCanvas {
  position: absolute;
  top: 60%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

#runCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}
/* End Character Animation */
