<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Background Page</title>
    <!--    CSS -->
    <link rel="stylesheet" href="../static/css/styles.css" />
    <!--    End CSS-->

    <!-- Google Font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <!-- End Google Font -->
  </head>
  <body>
    <main>
      <div class="container battle">
        <!--Battle HTML -->
        <div class="hp-bars row">
          <div class="col">
            <h5 class="char-name">CHISA</h5>
            <div class="hp-bar">2500/5000</div>
          </div>

          <div class="col">
            <h5 class="char-name enemy">WITCH</h5>
            <div class="hp-bar">1000/5000</div>
          </div>
        </div>
        <!-- End Battle HTML -->
      </div>
    </main>

    <canvas id="p-battleCanvas">
      <img
        src="../static/assets/characters/knight/Attack 1.png"
        id="p-battleImg"
      />
    </canvas>

    <!-- JS -->
    <script src="../static/js/animation.js"></script>
    <!-- End JS -->
  </body>
</html>
