<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Background Page</title>
    <!--    CSS -->
    <link rel="stylesheet" href="../static/css/styles.css" />
    <!--    End CSS-->

    <!-- Google Font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <!-- End Google Font -->
  </head>
  <body>
    <main>
      <div class="container">
        <!-- Scenario HTML -->
        <div class="scenario">
          <h1>Game Title</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod,
            cumque cum quas, maiores deleniti illum reprehenderit tempora quae,
            qui voluptatibus numquam vero molestiae corrupti sed iste
            perspiciatis consequuntur pariatur commodi. Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Quod, cumque cum quas, maiores
            deleniti illum reprehenderit tempora quae, qui voluptatibus numquam
            vero molestiae corrupti sed iste perspiciatis consequuntur pariatur
            commodi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <button>Start Adventure</button>
        </div>
        <!-- Scenario HTML -->
      </div>
    </main>

    <!-- <canvas id="myCanvas">
      <img src="../static/assets/knight/Attack 1.png" id="myImg" />
    </canvas> -->

    <!-- JS -->
    <script src="../static/js/index.js"></script>
    <!-- End JS -->
  </body>
</html>
