<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Background Page</title>
    <!--    CSS -->
    <link rel="stylesheet" href="../static/css/styles.css" />
    <!--    End CSS-->

    <!-- Google Font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <!-- End Google Font -->

    <!-- Begin BG  CSS -->
    <style>
      #Banner {
        width: 100vw;
        height: 100vh;
        margin: 0px auto;
        overflow: hidden;
        background: url("../static/assets/bg-img/bg-1.png") repeat-x;
        background-size: cover;
        animation: animate-background linear 10s infinite;
      }

      @keyframes animate-background {
        from {
          background-position: 0px;
        }
        to {
          background-position: -3000px;
        }
      }
    </style>

    <!-- End BG CSS -->
  </head>
  <body>
    <!-- Background run ID -->
    <div id="Banner">
      <div class="running">
        <p class="sub-scenario">
          The mystical world known as StrideLand is in dire trouble. A world
          where valiant Knights protect the land of magic and fitness is under
          threat from the four evil warlords of StrideLand known as Emperor
          Blister, The Dreadmill Deamon, Warlord Yoga Yogi, and Calorie
          Countess. Every step will be vital in saving StideLand… Let`s get
          going!
        </p>
        <div class="step-count">2500/5000</div>
      </div>
      <canvas id="runCanvas">
        <img src="../static/assets/characters/knight/Run.png" id="runImg" />
      </canvas>
    </div>

    <!-- JS -->
    <script src="../static/js/animation.js"></script>
    <!-- End JS -->
  </body>
</html>
